body{
    margin: auto;
    background-color: aliceblue;
    width: 50%;
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.panel .panel-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    border: 6px solid #8f8ff1;
    padding: 5px;
    border-radius: 19px;
    background-color: #303030;
}
.panel .panel-tab h4{
    text-transform: uppercase;
    color: #8d88e1;
}

.panel .panel-tab .total--value{
    font-size: 30;
    color: white;
    font-weight: bold;
}
